* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background: url(/home/sownesh/Downloads/black-1072366.jpg);
    background-size: 100%;
  }
  
  .profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(/home/sownesh/Downloads/gas-mask-2273696.jpg);
    background-size: 100%;
  }
  
  .profile-form {
    background-color: #aaa;
    background-size: 100%;
    max-width: 400px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px white
  }
  
  .profile-form-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .profile-form-header h2 {
    color: #333;
  }
  
  .profile-form-steps {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .step-btn {
    margin: 0 5px;
    padding: 10px 20px;
    background-color: #ddd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .step-btn.active {
    background-color: #333;
    color: #fff;
  }
  
  .profile-form-content {
    position: relative;
  }
  
  .step {
    display: none;

  }
 
  
  .step1 {
    display: block;
  
  }
  
  textarea {
    width: 100%;
    height: 100px;
    resize: vertical;
    margin-bottom: 10px;
  }
  
  .next-btn, .prev-btn, .submit-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .prev-btn {
    background-color: #aaa;
  }
  
  .submit-btn {
    background-color: #00a0e6;
  }
  
  .transitioning {
    opacity: 0;
    transform: translateX(-20px);
  }
  
  .show {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.3s, transform 0.3s;
  }
  