
.p1{
    background-color: blue;
}
.p2{
    background-color: aqua;
}
.p3{
    background-color: brown;
}

@media screen and (min-width:801px){
    .col p{
        width: 30%;
       float: left;
    }
    .p1{
        background-color: black;
        color: azure;
    }
}