 /* .para1{
    background-color: skyblue;
    color: white;
    font-size: 15px;
    flex: 1;
     order: 2; 
}
.para2{
    background-color: white;
    color: skyblue;
    font-size: 15px;
    flex: 1;
    order: 1;
}
.para3{
    background-color:  skyblue;
    color: white;
    font-size: 15px;
    flex: 1;
    order: 3;
}
.para4{
    background-color: white;
    color: skyblue;
    font-size: 15px;
    flex: 1;
    order: 3;
}
.para5{
    background-color: skyblue;
    color: white;
    font-size: 15px;
    flex: 1;
    order: 3; 
}

.container {
    display: flex; 
   padding: 10px;
   flex-direction: row;
}   */

.container{
    background-color: skyblue;
    /* min-height: 500px; */
    display: flex;
    height: 100vh;
    /* justify-content: flex-start; */
    justify-content: center;
    /* justify-content: flex-end; */
     align-items: center; 
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    flex-direction: row;
    /* justify-content: space-between;  */
    justify-content: space-around; 
    /* align-items: stretch; */
     flex-wrap: wrap;
}

.box{
    background-color: brown;
    width: 250px;
    height: 200px;
    border: 3px solid white;
    flex-grow: 1;
   flex-shrink: 1;
    
}