.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    /* grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: column; */
    align-items: end;
}

.box{
    background-color: chartreuse;
    color: black;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.box1{
    grid-column: span 4;
}

.box16{
    grid-column: span 4;
}