*{
padding: auto;
margin: 0;
font-family: sans-serif;
box-sizing: border-box;
}

.hero{
height: 100vh;
width: 100%;
background-image: url(/home/sownesh/Downloads/computer-3174729.jpg);
background-size: cover;
background-position: center;

}

nav{
display: flex;
align-items: center;
padding left: 10%;
padding right: 10%;

}

nav ul
{
display: flex;
}

nav ul li
{
padding: 10px 20px;

}

.name
{
color: aliceblue;
font-size: 30px;
}

nav ul li a
{
color: aliceblue;
font-weight: bold;
text-decoration: none;
}

nav ul li a:hover
{
    color: red;
    transition: 0s;
    font-size: 18px;
}

.btn
{
    background-color: red;
    color: aliceblue;
    font-weight: bold;
    text-decoration: none;
    border-radius: 20px;
}

p{
font-family: monospace;
color: aliceblue;
font-size: 10px;
font-weight: bold;
font-style: italic;
text-transform: capitalize;
text-decoration: unset;
line-height: 40x;
letter-spacing: normal;
text-align: left;
height: 300px;
width: 300px;
text-align: justify;
text-indent: 100px;

}

.content
{
color: yellow;
text-align: left;

}

a:focus
{
color: blue;
}

a:active
{
    color: aqua;
}

a:visited
{
    color: violet;
}

h2{
    border width: 1px 2px;
    border-style: double;
    border-color: white;
}

p{
    font-size: 15px;
    text-shadow: 1cap;
border: 1cap;
overflow: hidden;
border-color: aqua;

}
ul li{
    list-style: none;
}