:root{
    --red:crimson;
    --green:#53BF9D;
    --yellow:#FFC54D;
    --white:whitesmoke;
}


body,h2{
    margin:0;
    font-family: 'Borel', cursive;
   
}

.mainarea{
    background-image:url(../Images/bg.jpg);
    background-size: cover;
    background-position: center;
    height:100vh;
    min-width: 360px;
    color:var(--white);
}

header a{
    text-decoration: None;
    display: inline;
    color: var(--white);
    min-width: 120px;
    font-size: 1.5em;
}


header{
    display:flex;
    padding: 1em;
    flex-wrap: wrap;
    row-gap: 1em;
    animation:header 3s  ease-in-out;
    
}
@keyframes header{
    0%{
        
        transform: translateY(-100%);
    }
}

.logo{
    flex:3;
    font-size: 1.25em;
    color:var(--white);
    min-width: 260px
}

header h2 i,nav a i{
    margin-right: .5em;
}

nav{
    flex:2;
    display:flex;
    align-items: center;
}

nav a{
    flex:1;
}

nav a:hover{
    color:var(--yellow);
}

.maintext{
    display:flex;
    flex-direction: column;
    height:50vh;
    justify-content: center;
    padding:2em;
   
}

.maintext div{
    margin-top: .75em;
}

.tagline1{
    font-size:2.5em;
    font-weight: bolder;
    color: var(--white);
    animation: tagline1 1s ease-in-out;
}
@keyframes tagline1{
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
}


.tagline2{
    color:var(--yellow);
    animation: tagline2 2s ease-in-out;
}
@keyframes tagline2{
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
}
.callus{
    animation: callus 3s ease-in-out;
}
@keyframes callus{
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
}

#menuheading,#locheading{
  background-color: #000;
    font-size:2.5em;
    min-width: 360px;
    color:var(--yellow);
    display: flex;
    justify-content: center;
}
.menu{
    display:grid;
    min-width: 360px;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
  background-color: #000;
  
 
}

.maincourse{
    grid-row: span 2;
}

.menu tr{
    display:flex;
    justify-content: center;
    margin-top:.8em;
    color:var(--white);
    
}
.chats tr,.Tambaram{
    overflow: hidden;
    animation: chats 6s ease-out;
}
@keyframes chats {
    0%{
        opacity: 0;
        transform: translateX(100%);
    }
    
}
.starters tr,.velachery{
    animation: starters 6s ease-out;
}
@keyframes starters {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    
}

.menu th{
    color:var(--yellow);
    font-size: 1.8em;
}
.menu td:nth-child(1){
    flex:1;
    justify-self: left;
}

.menu td:nth-child(2){
    justify-self: right;
}

table{
    width:100%;
    padding:1em;
}

.locations address{
    color:white;
}

.locations{
    display:flex;
    min-width: 360px;
    flex-wrap: wrap;
    justify-items: center;
  background-color: #000;
   
}
.locheading{
    font-size:1.75em;
    display: flex;
    justify-content: center;
}

.locations div{
    padding:1em;
    flex:1;
}

.locations div h2{
    color: var(--yellow);
    margin-bottom: .8em;
}

footer{
  background-color: #000;
    color:var(--white);
    min-width: 360px;
    padding:.25em 1em;
}

#copyright{
    margin-left:20px;
}
.social-menu ul{
    display: flex;
    padding:0;
}

.social-menu ul li{
    list-style: none;
    display:inline-block;
    margin: 0 15px;
}

.social-menu ul li .fab{
    font-size: 25px;
    line-height: 40px;
    transition: .3s;
    color: #000;
}

.social-menu ul li .fab:hover{
    color: #fff;
}

.social-menu ul li a{
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

.social-menu ul li a:hover{
    transform: translate(0 ,-10%);
}

.social-menu ul li:nth-child(1) a:hover{
    background-color: #4267B2;
}
.social-menu ul li:nth-child(2) a:hover{
    background-color: #E4405F;
}
.social-menu ul li:nth-child(3) a:hover{
    background-color: #00ACEE;
}
