body{
margin: 0;
padding: 0;
box-sizing: border-box;
background-color: gray;
background-image: url(/home/sownesh/Downloads/smack1.jpg);
background-size: 100%;
}

.container{
    min-height: 40vh;
    width: 20%;
    border: 1px solid darkslategrey;
    
    border-radius: 5px;
    box-shadow: 10px 10px 35px;
    position: absolute;
    background: url(/home/sownesh/Downloads/imgList/yogi.jpeg);
    background-size: 100%;
    left: 50%;
    top: 0.1px;
    margin: 250px;
}

.container2{
    min-height: 40vh;
    width: 20%;
    border: 1px solid darkslategrey;
    
    border-radius: 5px;
    box-shadow: 10px 10px 35px;
    position: absolute;
    background: url(/home/sownesh/Downloads/imgList/santi.jpeg) ;
    background-size: 100%;
    right: 50%;
    top: 0.1px;
    margin: 250px;
}

.btn-left{
    position: absolute;
    top: 50%;
    left: -4%;
    background-color: white;
    border-radius: 5em;
    cursor: pointer;
    opacity: 50%;
}
.btn-right{
    position: absolute;
    top: 50%;
    right: -4%;
    background-color: white;
    border-radius: 5em;
    cursor: pointer;
    opacity: 50%;
}