table{
width: 500px;
height: 500px;
transform: scale(1);
cursor: pointer;
transition: 125ms;
position: absolute;
top: 10%;
right: 10%;
box-shadow: 10px 10px 20px white, 
            -10px -10px 10px white;
}
.hi:focus{transform: scale(1.2);}
.hi:hover{color: aqua;}

.even{
    background-color: black;
}
.odd:hover{background-color: white;}
.even:hover{background-color: red;}

body{
    background: url(/home/sownesh/Downloads/black-1072366.jpg);
    background-size: 100%;
}

div{
    position: absolute;
    left: 10%;
}
div h1{
    color: yellow;
    cursor: pointer;
    transition: 125ms;
}
div h3{ color: white;}
div h2{color: darkorange;

align-items: center;
}