.square{
    height: 300px;
    width: 300px;
    background-color: yellowgreen;
    margin: 150px auto;
    transition-duration: 1s;
    /* transition-property: background-color; */
    /* background: url(https://5.imimg.com/data5/XN/NX/BT/SELLER-37318256/5-wings-fan-blade.png); */
    background-size: 100%;
    transition-timing-function: ease-in-out;
    /* transition-delay: 3s; */
}

.square:hover{
    background-color: red;
    /* width: 500px;
    height: 500px; */
    transform: rotate(360deg);
    /* transform: scalex(2); */
}


.circle{
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50%;
    animation-name: circle;
    animation-duration: 10s;
    margin: 150px auto;
    /* animation-fill-mode: backwards; */
    /* position: relative; */
}

@keyframes circle{
0%{
width: 0px;
height: 0px;
border-radius: 50%;
background-color: aqua;
/* top: 0px;
left: 0px; */
}

/* 50%{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: aqua;
     top: 300px;
    left: 500px; 
    } */

100%{
width: 800px;
height: 800px;
background-color: blue;
border-radius: 50%;
/* top: 600px;
left: 1000px; */
}
}